a {
  color: black;
  text-decoration: none;
}
.card {
  margin: .5rem;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 1rem -.1rem rgba(191, 191, 191, 1);
  }
}
.card__image {
  height: 12rem;
  width: 8rem;
}
.card__title-wrapper {
  max-width: 5rem;
}
.card__title {
  white-space: nowrap;
}
.card__rated-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}